body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
li {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  /* основные шрифты */
  --main-family: "Open Sans", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* размеры текста */
  --font-weight400: 400;
  --font-weight600: 600;
  --font-weight700: 700;
  --text-color-main: rgba(157, 164, 189, 0.6);
  /* Цвета */
  --main-color: #555555;
  --white-color: #ffffff;
  --p-color: #303030;
  --second-p-color: #9da4bd;
  --orange-color: #ff6c00;
}
/* ОБщая стилизаиця */
body {
  font-family: var(--main-family);
  font-weight: var(--font-weight400);
  color: var(--text-color-main);
}
/* Стилизация кнопки */
.main-btn {
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid var(--orange-color);

  text-transform: uppercase;
}
/* Стилизация Секции */
.header {
  padding-right: 15px;
  padding-left: 15px;

  background: #191c26;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* Header css */
.nav-list {
  display: flex;
}
.style-link:hover,
.style-link:focus {
  color: var(--orange-color);
}
.nav-list .list {
  margin-right: 40px;
}
.nav-list .list:nth-child(4) {
  margin-right: 0px;
}
.nav-list .list:first-child {
  margin-left: 40px;
}
.style-link {
  display: block;
  margin-right: 40px;
  font-family: var(--main-family);

  font-weight: var(--font-weight600);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.header-link {
  display: flex;
}
.nav {
  padding-top: 52px;
  display: flex;
}
.nav-connect {
  display: flex;
}
.btn {
  background: #303030;
  font-family: var(--main-family);

  font-weight: var(--font-weight600);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;

  color: var(--white-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.social {
}
.logo {
  padding-top: 54px;
  display: block;
  width: 69px;
  height: 56px;
}
/* Hero Cекция */
.hero {
  background: #191c26;
  padding-right: 15px;
  padding-left: 15px;
}
.main-txt {
  font-family: var(--main-family);

  font-weight: var(--font-weight600);
  font-size: 11px;
  line-height: 1.7;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.second-txt {
  font-family: var(--second-family);
  font-weight: var(--font-weight400);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--second-p-color);
}
.title {
  font-family: var(--main-family);
  font-weight: var(--font-weight700);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.social {
  align-items: center;
  display: flex;
}
.social .link {
  margin-right: 40px;
}
.social .link:nth-child(2) {
  margin-right: 0px;
}
.social .http {
  font-family: var(--main-family);
  font-weight: var(--font-weight600);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--p-color);
}
.social .http:hover,
.social .http:focus {
  color: var(--orange-color);
}
.button {
  font-family: var(--second-family);

  font-weight: var(--font-weight600);
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--white-color);
  background-color: transparent;
}
/* Main Секция */
.portfolio-info {
  display: flex;
}
.portfolio-img {
  display: flex;
}
.img {
  margin-right: 30px;
}
.img:last-child {
  margin-right: 0px;
}
.portfolio-txt {
  margin-left: 64px;
}
.portfolio-text {
  font-family: var(--main-family);
  font-weight: var(--font-weight600);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--p-color);
  margin-bottom: 20px;
}
.portfolio-title {
  font-family: var(--second-family);

  font-weight: var(--font-weight700);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--p-color);
}
.portfolio-sectext {
  font-family: var(--main-family);

  font-weight: var(--font-weight400);
  font-size: 18px;
  line-height: 1.66;

  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: var(--main-color);
}
.portfolio-infotxt {
  font-family: var(--main-family);
  font-weight: var(--font-weight400);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 40px;
}
.portfolio-button {
  font-family: var(--main-family);
  font-weight: var(--font-weight600);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--p-color);
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background: var(--white-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--orange-color);
  color: var(--white-color);
}
.background {
  background-size: 100%;

  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../images/img.png);

  background-repeat: no-repeat;
}
/* Секция Прайс */
.price {
  display: flex;
  align-items: center;
}
.price-info {
  padding: 30px 40px;
  flex-basis: calc(100% / 2);
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-item {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.left-sitebar {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.right-sitebar {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-information {
  font-family: var(--second-family);

  font-weight: var(--font-weight700);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: var(--white-color);
}
